body{
	background: white;
	margin: 0;
	padding: 0;
	font-size: 18px;

}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

span{
	margin: 0px;
	padding: 0px;
}


/* headings */


h1{
	font-size: 48px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
}

h1.white{
	color: white;
}


h2{
	font-size: 27.5px;
	padding: 0px;
	margin: 0;
	font-weight: 600;
}


h3{
	font-size: 19px;
	margin: 0;
	padding: 0;
	font-weight: 600;
}




/* text */


p{

	margin: 0;
	padding: 0;
	color: #111111;
	font-weight: 300;

}

p.white{

	color: white;

}

p .small{

	font-size: 14px;

}




/* padding wrapper classes */

.push-75{ margin: 76px 0 76px 0;}
.push-0-75{ margin: 0 0 76px 0;}
.push-75-0{ margin: 76px 0 0 0;}


.push-65{ margin: 56px 0 56px 0;}
.push-0-65{ margin: 0 0 56px 0;}
.push-65-0{ margin: 56px 0 0 0;}


.push-65-20{ margin: 56px 0 11px 0; }


.push-35{ margin: 26px 0 26px 0; }
.push-0-35{ margin: 0 0 26px 0; }
.push-35-0{ margin: 26px 0 0 0; }

.push-20{ margin: 11px 0 11px 0; }
.push-0-20{ margin: 0 0 11px 0; }
.push-20-0{ margin: 11px 0 0 0; }



.push-20 a.button{

	margin: 18px 0 18px 0;

}


.push-aside-85{ padding: 0 85px 0 85px; }
.push-aside-0-85{ padding: 0 0 0 85px;  }
.push-aside-85-0{ padding: 0 85px 0 0;  }

.push-aside-35{ padding: 0 26px 0 26px; }
.push-aside-0-35{ padding: 0 0px 0 26px; }
.push-aside-35-0{ padding: 0 26px 0 0px; }


.push-aside-20{ padding: 0 8px 0 8px; }
.push-aside-0-20{ padding: 0 0 0 8px; }
.push-aside-20-0{ padding: 0 8px 0 0; }


/* floats */

.left{
	float: left;
}

.right{
	float: right;
}

.clear-right{
	clear: right;
}

.clear-left{
	clear: left;
}

/* margin wrapper classes */

.push-aside-35-m{ margin: 0 26px 0 26px; }
.push-aside-0-35-m{ margin: 0 26px 0 0; }
.push-aside-35-0-m{ margin: 0  0 0 26px; }

.push-aside-75-m{ margin: 0 76px 0 76px; }
.push-aside-0-75-m{ margin: 0 76px 0 0; }
.push-aside-75-0-m{ margin: 0  0 0 76px; }



