

.divider{
	width: 100%;
	height: 1px; 
	clear: both;
}


/* text */

.black{
	color: black;
}


/* backgrounds */

.bg-white{
	background: white;
}






/* input fields */


.input{
	border: none;
	
}