

.divider{
	width: 100%;
	height: 1px; 
	clear: both;
}


/* text */

.black{
	color: black;
}


/* backgrounds */

.bg-white{
	background: white;
}






/* input fields */


.input{
	border: none;
	
}




/* images */


.image{
	
	display: block;
	position:relative;
	overflow: hidden;
	width: 100%;

	img{

		width: 100%;

	}

}


.rectangular-img{
	height: 140px;
	padding: 20px;


	img{
		height: 90%;
		width: auto;
	}

}

.big-img{
	
	width: 225px;
	height: 225px;

}

.small-img{
	
	width: 150px;
	height: 150px;

}

.round{
	
	border-radius: 2000px;

}


/* shapes */

.circle{
	border-radius: 2000px;
}



/* inputs */

.border{

	border-style: solid;
	border-width: 1px;
	padding: 5px;
	padding-left: 20px;

}


.border-accent{
	border-color: black;
}


.textarea{
		
	resize: none;	
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	padding-left: 10px;	

}




/* overlay */

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 10;

	

/* components */

.circle{
	border-radius:2000px;
}

.circle-steun-ons{
	width:50px;
	height:50px;
	color:white;
	background-color:#E65100;
	line-height:50px;
}

steun-ons-text{

}

.circle-slider{
	height: 30px;
	width: 30px;
}

.circle-paginate{
	height: 30px;
	width: 30px;
}

.circle-paginate:hover{
	background:black;
}

.circle-slider:hover{
	background-color: black;
	cursor: pointer;

}

.a-slider{
	width:40px;
	font-size:40px;
	color:white;
}

.a-slider:hover{
	color:white;
}

.slider-arrow{
	position: absolute;
	margin: auto;
	bottom: 45%;
  	width: 50px;
	background-color:black;
	opacity:0.8;
}

.slider-arrow-left{
  	left:1%;
}

.slider-arrow-right{
	right:1%;
}

