body{
	font-family: 'Lato', sans-serif;

}


.header{
	background: white;
	min-height: 1px;
	overflow: hidden;
}



.placeholder-nav{
	
	height: 0;
	position:relative;
	right: 109px;
	display: inline-block;
	border-left: 109px solid transparent;
	border-bottom: 109px solid $main-color;	
	padding-right:110px;
	width: 100%;
	float:right;
	position: relative;
	left: 55px;
}

.main-logo img{
	width: 200px;
	position: relative; 
	top: 15px;
	display: block; 
	float: right;
	margin-left:20px;
}

.contact-balk{
	background: $secondary-color;
	min-height: 1px;
}

.contact-balk .contact-info{

	

	span{
		color: $main-color;
		position: relative;
		right: 10px;
		
	}
}




.banner{
	
	padding-top: 80px;
	overflow: hidden;
	height: 440px;
	position: relative;
	
	img{

		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: -10;

	}

}




/* images */



.aanmelden-foto{
	max-height: 350px;
	
}